@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
header{
    padding: 30px 0;
    background-color: #f6f9f9;
    display: block;
    overflow: hidden;
}
img{
    max-width: 100%;
    display: block;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.logo{
    float: left;
    width: 20%;
}
nav{
    width: 80%;
    float: left;
}
nav ul{
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-left: 45px;
}
nav ul li a{
    display: block;
    padding-top: 10px;
    color: #2d3950;
    text-decoration:
    none;text-transform: 
    uppercase;font-weight: 700;
    font-size: 16px;
}
.banner-section{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}
.banner-contain{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 45%;
    color: white;
}

.banner-contain h1{
    font-size: 120px;
    text-transform: uppercase;
}
.solid-line{    
    width: 520px;
    height: 2px;
    background: #03A9F4;
    margin: 30px auto;}
.banner-contain p{
    font-size: 20px;
    color: #ffffff;
}
.banner-contain a{
    display: inline-block;
    color: white;
    text-decoration: none;  
    padding: 18px 32px; 
    border: 1px solid #03A9F4;
    background: transparent;
    margin: 30px 0 0px;
    border-radius: 3px;
    font-size: 18px;
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.banner-section .fas{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50% , 0);
    color: white;
}
.about-section{
    background: #f9f9f9;
    padding: 80px 0;
    text-align: center;
}
}
.about-contain{}
.about-contain h2{
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 25px;
}
.about-contain p{
    font-size: 20px;
    font-weight: 300;
    color: #999999;
    line-height: 1.6;
}
.feature-section{
    overflow: hidden;
    padding: 60px 0;
}
.feature{
    width: 33.33%;
    text-align: center;
    float: left;
    padding: 0 20px;
}
.feature h3{
    padding: 30px 0 20px;
    font-size: 22px;
    color: #2d3950;
}
.feature p{
    font-size: 15px;
    color: #a59e9e;
}
.feature-logo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: linear-gradient(90deg, #48baff 50%, #5fc3ff 50%);
    line-height: 127px;
    color: #fff;
    border-radius: 2px;
    text-shadow: 0 1px 3px #8f8f8f;
}

.protfolio-section{
    padding: 80px 0;
    overflow: hidden;
    text-align: center;
    background: #f9f9f9;
}
.protfolio h2{
    margin-bottom: 20px;
}
.protfolio p{
    font-size: 15px;
    padding-bottom: 50px;
}
.protfolio-img{width: 33.33%;
    float: left;
    padding: 10px;}
.bg{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(3, 169, 244, 0.66);
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: .4s ease all;
    -moz-transition: .4s ease all;
    -webkit-transition: .4s ease all;
}
.bg:hover .overlay{
    transform: scale(1);
}
.overlay:hover .fa-link, .overlay:hover .fa-search-plus{
    opacity: 1;
    top: 50%;
}
.overlay > .fa-link{
    position: absolute;
    top: 70%;
    left: 58%;
    transform: translate(-42%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}
.overlay > .fa-search-plus{
    position: absolute;
    top: 70%;
    left: 45%;
    transform: translate(-55%, -50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    opacity: 0;
    transition: .6s ease all;
    -moz-transition: .6s ease all;
    -webkit-transition: .6s ease all;
}
.form-section{
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
}